    
	/* blue color variation for the landing page */

    #head {
        background:url(../img/blue/blue_head.png);
    }

    h1 {
        color:#409bd9;
    }
    
    h1 span {
        color:#392218;
    }

    h2 {
        color: #409bd9;
    }

    .ribbon {
        background:url(../img/blue/blue_ribbon.png);
    }

    .indicator {
        background: #409bd9;
    }

    .apple {
        background:url(../img/blue/blue_button_apple.png);
    }

    .google {
        background:url(../img/blue/blue_button_google.png);
    }

    .icon {
        background:url(../img/blue/blue_circle.png);
    }

    .subscribe input[type="submit"] {
        background: #409bd9;
    }
    .quote:before {
        background:url(../img/blue/blue_quato_left.png);
    }

    .quote:after {
        background:url(../img/blue/blue_quato_right.png);
    }

    .other-stuff-up {
        background:url(../img/blue/blue_other_button_up.png);
    }

    .other-stuff-down {
        background:url(../img/blue/blue_other_button_down.png);
    }

    .contact-us {
        background:url(../img/blue/blue_sendmsg.png) no-repeat top center;
    }

    .about-us {
        background:url(../img/blue/blue_aboutus.png) no-repeat top center;
    }

    #footer {
        background:url(../img/blue/blue_footer.png) no-repeat top center;
    }