    
	/* green color variation for the landing page */

    #head {
        background:url(../img/green/green_head.png);
    }

    h1 {
        color:#54ae86;
    }
    
    h1 span {
        color:#392218;
    }

    h2 {
        color: #54ae86;
    }

    .indicator {
        background: #54ae86;
    }

    .subscribe input[type="submit"] {
        background: #54ae86;
    }

    .icon {
        background:url(../img/green/green_circle.png);
    }

    .apple {
        background:url(../img/green/green_button_apple.png);
    }

    .google {
        background:url(../img/green/green_button_google.png);
    }

    .quote:before {
        background:url(../img/green/green_quato_left.png);
    }

    .quote:after {
        background:url(../img/green/green_quato_right.png);
    }
    .ribbon {
        background:url(../img/green/green_ribbon.png);
    }

    .other-stuff-up {
        background:url(../img/green/green_other_button_up.png);
    }

    .other-stuff-down {
        background:url(../img/green/green_other_button_down.png);
    }

    .contact-us {
        background:url(../img/green/green_sendmsg.png) no-repeat top center;
    }

    .about-us {
        background:url(../img/green/green_aboutus.png) no-repeat top center;
    }
    
    #footer {
        background:url(../img/green/green_footer.png) no-repeat top center;
    }
